.swiper-container(ng-style="{'background-color': gallery.backgroundColor}")
  .swiper-wrapper
    .swiper-slide(
        ng-style="{'background-color': slide.backgroundColor}",
        ng-repeat="slide in gallery.slides track by $index",
        data-swiper-autoplay="{{slide.delay!=null?slide.delay:gallery.autoplay.delay}}",
        style="background: url({{slide.image}})"
      )  
      .overlay-container(class="{{slide.overlayPosition}}" ng-style="{'padding':slide.padding}")
        .text-wrapper(ng-style="{'color':slide.textColor,'background-color': slide.textBackgroundColor}")
          h2.overlay-title {{slide.title}}
          div.overlay-text(ng-bind-html="mdToHtml(slide.overlay)") {{slide.overlay}}    
  .swiper-pagination(ng-class="{ 'swiper-pagination-hidden': !gallery.config.showNavigation }")
  .swiper-button-prev(ng-class="{ 'swiper-button-disabled': !gallery.config.showNavigation }")
  .swiper-button-next(ng-class="{ 'swiper-button-disabled': !gallery.config.showNavigation }")
    