doctype html
html(ng-app='signageApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')

    link(href='/vendor/swiper.min.css', rel='stylesheet', type='text/css')
    link(href='/vendor/angular-material.min.css', rel='stylesheet', type='text/css')
    link(href='/index.css', rel='stylesheet', type='text/css')
    link(href='/vendor/demo.css', rel='stylesheet', type='text/css')
    script(src="/vendor/firebase.min.js")
 
    script.
      var app = firebase.initializeApp({
        apiKey: 'AIzaSyCNpkPav8JyQq7kZwlHVT78MxsRaYLnQMo',
        authDomain: 'oak-signage.firebaseapp.com',
        databaseURL: 'https://oak-signage.firebaseio.com',
        projectId: 'oak-signage',
        storageBucket: 'oak-signage.appspot.com',
        messagingSenderId: '270582494300'
      });
      // Initialize Cloud Firestore through Firebase
      var db = firebase.firestore();

      // Disable deprecated features
      db.settings({
        timestampsInSnapshots: true
      });
    
  body(ng-controller='appController' ,  ng-click="tapped($event)", ng-mousemove="mouseMoved($event)", ng-cloak)
    ripples
      .ripple(ng-repeat="r in ripples" ng-style="{ top: r.y + 'px', left: r.x + 'px' }")
    .swiper-container
      .swiper-wrapper
        .swiper-slide(ng-style="{'background-color': slide.backgroundColor}" ng-repeat="slide in gallery.slides track by $index" data-swiper-autoplay="{{slide.delay!=null?slide.delay:gallery.autoplay.delay}}" style="background: url({{slide.image}})")  
          .overlay-container(class="{{slide.overlayPosition}}")
            .text-wrapper(ng-style="{'color':slide.textColor,'background-color': slide.textBackgroundColor}")
              h2.overlay-title {{slide.title}}
              div.overlay-text {{slide.overlay}}    
      .swiper-pagination(ng-class="{ 'swiper-pagination-hidden': !gallery.config.showNavigation }")
      .swiper-button-prev(ng-class="{ 'swiper-button-disabled': !gallery.config.showNavigation }")
      .swiper-button-next(ng-class="{ 'swiper-button-disabled': !gallery.config.showNavigation }")
    script(src="/vendor/angular.min.js")
    script(src="/vendor/swiper.min.js")
    script(src='/index.js')

      

    
