doctype html
html(ng-app='signageApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')

    link(href='/vendor/angular-material.min.css', rel='stylesheet', type='text/css')
    link(href='/index.css', rel='stylesheet', type='text/css')
    link(href='/vendor/demo.css', rel='stylesheet', type='text/css')

  body(ng-controller='appController' ,  ng-click="tapped($event)", ng-mousemove="mouseMoved($event)", ng-cloak)
    ripples
      .ripple(ng-repeat="r in ripples", ng-style="{ top: r.y + 'px', left: r.x + 'px' }")
    md-content(layout-padding='')
      .content Hello World
      

    script(src='/index.js')
