doctype html
html
  include includes/head.pug
  body(ng-app="signageApp" ng-controller="appController" ng-cloak="")
    div(layout="column" layout-fill="")
      md-toolbar
        .md-toolbar-tools
          md-button#galleryMenu.md-fab.md-mini(ng-click="toggleLeft()" hide-gt-md="")
            md-icon.material-icons menu
          h2(md-truncate="" flex="") 
            a(href="/") Signage Admin
          md-button(ng-click="logout()" ng-if="isLoggedIn" ng-cloak="")
            | Logout
      div(ng-if="isLoggedIn" style="height:100%;overflow:hidden" layout="row")
  
          md-sidenav.md-sidenav-left(md-component-id="left" layout="column" layout-align="top left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4")
            md-toolbar(md-colors="{background: 'default-primary-100'}" layout="row" layout-align="space-between")
              .md-toolbar-tools
                md-input-container
                  md-button#addGallery.md-fab.md-mini(ng-click="showAddGalleryPrompt($event)")
                    md-icon.material-icons add
                span.md-display-1 Galleries
            
            md-content(layout-padding="" ng-show="!galleryFormOpen")

              md-radio-group.galleryList(ng-model="selectedGallery")
                .row(ng-repeat="gallery in galleries | orderBy: 'name'")
                  div(flex="" layout="row" layout-padding layout-align="space-between center")
                    md-radio-button.md-primary(flex="" ng-value="gallery" ng-click="checkSideBar();")
                      | {{formatGalleryName(gallery.name)}}
                      
                    md-button#clearGalleryButton.md-fab.md-mini(ng-click="showGalleryConfirm($event, gallery.name)")
                      md-icon.material-icons clear
                  md-divider 
          div(layout="column" layout-fill="" flex="" layout-padding="")
            div(layout="column" layout-fill="" ng-if="selectedGallery")
              div(layout="row" layout-align="space-between center" style="min-height: 50px")
                  h1 {{formatGalleryName(selectedGallery.name)}}
                  md-button#uploadButton.md-fab.md-mini(ng-click="saveGallery(selectedGallery)")
                    md-icon.material-icons save
              md-tabs(layout="column" layout-fill=""  md-selected="selectedTabIndex.tabIndex" md-align-tabs="top" )
                md-tab(layout="column" layout-fill=""  id="tab1" md-tab-class="selector-tab1")
                  include includes/settings.pug 
                md-tab(id="tab2" md-tab-class="selector-tab2")
                  include includes/slides.pug
                md-tab(id="tab3" md-tab-class="selector-tab3" ng-click="initPreview(selectedGallery)")
                  include includes/preview.pug
            div(layout="column" layout-fill="" ng-if="!selectedGallery")
              include includes/intro.pug
      #firebaseui-auth-container
    #loadingPanel(ng-show="imageIsUploading")
      div(layout="row" layout-sm="column" layout-align="space-around")
        md-progress-circular(md-mode="indeterminate")
    include includes/foot.pug
