<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "user-scalable=no, width=device-width">
    <title>Sample FirebaseUI App</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.1/firebaseui.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="admin.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.1/firebaseui.js"></script>
    
    <script src="config.js" type="text/javascript"></script>
    <script src="crypto.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>

  </head>
  <body ng-app="signageApp"  ng-controller='appController' ng-cloak>
    <div layout="column" layout-fill>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 md-truncate flex>Signage Application Admin - API Key: {{user.uid}}</h2>
          <md-button ng-click='logout()' ng-if='isLoggedIn' ng-cloak>
            Logout
          </md-button>
        </div>
      </md-toolbar>
      <md-content ng-if='isLoggedIn'>
        <md-card>
          <md-list-item>
            <md-input-container>
              <input type='text' ng-model='galleryName'  /> 
              <md-button ng-click='addGallery(galleryName.replace(" ",""))' > Add Gallery</md-button>
            </md-input-container>
          </md-list-item>
        </md-card>
        <md-divider></md-divider>
        <div layout-wrap layout="row">
          <div layout="column" ng-repeat="(galleryName, gallery) in userId" style="flex: 2;">

            <md-card md-colors="{background: 'default-primary-100'}" class="primary line">
              <md-card-title  layout="column">
                <md-card-title-text>
                  <span class="md-headline">{{galleryName.replace(" ","")}}</span>
                </md-card-title-text>
                <md-card-content layout="column" layout-fill style="padding:0">
                    <md-input-container>
                      <label>Slides interval</label>
                      <input ng-model="userId[galleryName].slidesInterval">
                    </md-input-container>
                    <md-input-container>
                        <label>Slides to show</label>
                        <input ng-model="userId[galleryName].slidesToShow">
                      </md-input-container>
                    <choose-file layout="row" flex="100" gallery-name='{{galleryName.replace(" ","")}}' gallery-obj='{{gallery}}'>
                        <md-button id="uploadButton" class="md-fab md-mini">
                          <md-icon class="material-icons">cloud_upload</md-icon>
                        </md-button>
                        <md-input-container flex class="md-block">
                          <input type="text" ng-model="fileName" disabled>
                          <div class="hint">Select a file to upload</div>
                        </md-input-container>
                        <input id="fileInput" type="file" class="ng-hide">
                      </choose-file>
                </md-card-content>
                <md-card-actions  layout="row" layout-align="end end">
                  <!-- <input type='file' ng-model='imageUrl' ng-attr-id='{{galleryName.replace(" ","")}}' onchange='angular.element(this).scope().addSlideToGallery(angular.element(this).scope().galleryName.replace(" ",""), this.value, angular.element(this).scope().gallery)'  /> -->
                  <md-button  class="margined-button md-fab md-mini" ng-click="saveGalleries(user, galleryName, userId[galleryName])">
                    <md-icon class="material-icons">save</md-icon>
                  </md-button>
                  <md-button id="uploadButton" class="md-fab md-mini" ng-click="deleteGallery(galleryName.replace(' ',''))">
                    <md-icon class="material-icons">clear</md-icon>
                  </md-button>
                </md-card-actions>
              </md-card-title>
            </md-card>
            
            <md-card  ng-repeat='slide in gallery' >
                <md-card-title layout="row" layout-align="space-between">
                  <md-card-title-text>
                    <md-headline md-truncate class="md-subhead md-ellipsis" style="width: 200px;margin-bottom: 5px" ng-bind="getImageName(slide.image)"></md-headline>
                  </md-card-title-text>
                  <md-card-title-media >
                    <div md-colors="{background: 'default-grey-200'}" class="md-media-md card-media primary line">
                        <img style="object-fit: contain" src='{{slide.image}}' ng-attr-id='{{$index + "-" + galleryName.replace(" ","") + "-display"}}' />
                    </div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-content layout="column" layout-padding>
                  <md-input-container>
                    <label>Slide Title</label>
                    <input ng-model="slide.title">
                  </md-input-container>
                  <md-input-container>
                    <label>Slide Overlay Text</label>
                    <input ng-model="slide.overlay">
                  </md-input-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="space-between">
                  <md-button  class="margined-button md-fab md-mini" ng-click="deleteGallerySlide(galleryName, slide, $index)">
                    <md-icon class="material-icons">clear</md-icon>
                  </md-button>
                  <md-button  class="margined-button md-fab md-mini" ng-click="saveGalleries(user, galleryName, userId[galleryName])">
                    <md-icon class="material-icons">save</md-icon>
                  </md-button>
                  <md-input-container>
                    <label>Order</label>
                    <md-select ng-model="$index" ng-change="reorderSlides(slide, $index, galleryName)">
                      <md-option ng-repeat="order in returnImageArray(gallery)" ng-value="$index" >
                        {{order}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </md-card-actions>
              </md-card>

          </div>
        </div>
      </md-content>
      <div id="firebaseui-auth-container" ></div>
    </div>
    <div id="loadingPanel" ng-show="imageIsUploading">
        <div layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
    </div>
  </body>
</html>