doctype html
html
  include includes/head.pug
  body(ng-app="signageApp" ng-controller="appController" ng-cloak="")
    .preview-container(ng-init="initPreviewPage()" ng-style="{'background-color': theGallery.backgroundColor}")
      include includes/swiper.pug
    include includes/foot.pug
