* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
style {
  display: none;
}
script {
  display: none;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  position: relative;
  overflow: auto;
}
input:focus,
textarea:focus,
select:focus,
md-radio-button:focus,
[role="button"] {
  outline: none;
}
.mdl-shadow--2dp {
  box-shadow: none;
  background: transparent;
}
.firebaseui-info-bar {
  margin-top: 20px;
}
div.mdl-progress::after {
  display: block;
  color: #666;
  content: "Authenticating";
  margin: 20px auto;
  text-align: center;
}
.mdl-progress {
  height: 5px;
}
.hint {
  position: absolute;
  left: 5px;
  right: auto;
  bottom: -15px;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: #808080;
}
.margined-button {
  margin-left: 10px !important;
}
#loadingPanel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-gallery-panel .gallery-panel {
  min-width: 80%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0,0,0,0.2), 0 13px 19px 2px rgba(0,0,0,0.14), 0 5px 24px 4px rgba(0,0,0,0.12);
}
.galleryList .md-checked {
  background-color: #dedede;
  border-radius: 2px;
}
choose-file {
  margin-bottom: 40px;
}
md-content {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
md-input-container {
  margin: 0 0 15 0;
}
md-radio-button {
  margin-bottom: 0;
}
md-tabs-wrapper {
  border-bottom-color: #dedede;
}
md-toast.error-toast .md-toast-content {
  background-color: #f00;
  color: #000;
}
md-toast.success-toast .md-toast-content {
  background-color: #008000;
}
.image-list-item .image-wrapper {
  margin-top: 20px;
}
.image-wrapper {
  width: 150px;
  min-width: 150px;
  height: 150px;
  border: 1px solid #dedede;
}
.image-wrapper .image-thumbnail {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.no-overflow {
  overflow: hidden;
}
.preview-container {
  width: 100% !important;
  padding-bottom: 56% !important;
  position: relative;
  color: #fff;
  overflow: hidden;
}
.preview-container .swiper-wrapper {
  position: absolute;
  left: 0;
  top: 0;
}
.preview-container .swiper-container {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.preview-container .swiper-container * {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}
.preview-container .swiper-container .swiper-button-next.swiper-button-disabled,
.preview-container .swiper-container .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.preview-container .swiper-container .swiper-slide {
  font-size: 2em;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.preview-container .swiper-container .swiper-slide .overlay-container {
  padding: 1.618em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-container .swiper-container .swiper-slide .overlay-container.left-top {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.preview-container .swiper-container .swiper-slide .overlay-container.left-center {
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.preview-container .swiper-container .swiper-slide .overlay-container.left-bottom {
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
}
.preview-container .swiper-container .swiper-slide .overlay-container.center-top {
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
.preview-container .swiper-container .swiper-slide .overlay-container.center-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.preview-container .swiper-container .swiper-slide .overlay-container.center-bottom {
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.preview-container .swiper-container .swiper-slide .overlay-container.right-top {
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
}
.preview-container .swiper-container .swiper-slide .overlay-container.right-center {
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}
.preview-container .swiper-container .swiper-slide .overlay-container.right-bottom {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}
.preview-container .swiper-container .swiper-slide .overlay-container .text-wrapper {
  height: 50%;
  width: 50%;
  overflow: hidden;
  padding: 15px;
}
.preview-container .swiper-button-hidden {
  opacity: 0;
}
.preview-container .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23dedede'%2F%3E%3C%2Fsvg%3E") !important;
}
.preview-container .swiper-pagination-bullet-active {
  background: #dedede !important;
}
.preview-container .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23dedede'%2F%3E%3C%2Fsvg%3E") !important;
}
.preview-container .hidden {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
md-card {
  padding: 24px 16px 16px;
  margin: 0 0 20px 0;
}
md-card md-card-title {
  flex-direction: row;
}
md-card md-card-title md-card-title-media .md-media-md img {
  object-fit: contain;
  width: 112px;
  height: 112px;
}
